% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "HH_2l_DNN_BC"
  OutputDir: "Output"
  PlotLabel: none
  Label: "\gamma\gamma 2(\ell +\tau_h)"
  CmeLabel: "13 TeV"
  POI: mu_XS_hh
  ReadFrom: NTUP
  NtuplePaths: "Output/Files"
  LumiLabel: "139 fb^{-1}"
  PlotOptions: "LEFT,NOXERR,NOENDERR,YIELDS,NORMSIG"
  NtupleName: "output"
  DebugLevel: 11
  MCstatThreshold: 0.001
  SystPruningShape: 0.01
  SystPruningNorm: 0.005
  CorrelationThreshold: 0.05
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  StatOnly: TRUE
  Selection: m_H>105 && m_H <160

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  FitBlind: TRUE
  UseMinos: "mu_XS_hh"

% --------------- %
% ---  LIMIT  --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  %LimitBlind: TRUE
  %SignalInjection: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "Whole_2l"
  Type: VALIDATION
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  ShortLabel: "m_{yy}"

Region: "CR1_2l"
  Type: CONTROL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  Label: "NN<0.5"
  ShortLabel: "m_{yy}"
  Selection: "DNN<0.5"
  
Region: "SR2_2l"
  Type: SIGNAL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  Label: "0.5<NN<0.8"
  ShortLabel: "m_{yy}"
  Selection: "DNN<0.8 && DNN>=0.5"

Region: "SR1_2l"
  Type: SIGNAL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  Label: "0.8<NN"
  ShortLabel: "m_{yy}"
  Selection: "DNN>=0.8"

Region: "DNN_2l"
  Type: VALIDATION
  Variable: "DNN",11,0,1
  VariableTitle: "DNN"
  % LogScale: TRUE
  % Selection: "abs(m_H-125)>5"

% --------------- %
% --- SAMPLES --- %
% --------------- %

% Normal samples

Sample: "signal_2l"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 2
  LineColor: 2
  NtupleFiles: "signal_ggF_1l1tau","signal_VBF_1l1tau","signal_ggF_0l2tau","signal_VBF_0l2tau","signal_ggF_2l0tau","signal_VBF_2l0tau"
  MCweight: "weight"

Sample: "Single_Higgs_2l"
  Type: BACKGROUND
  Title: "Single Higgs"
  FillColor: 3
  LineColor: 1
  NtupleFiles: "SH_1l1tau","SH_0l2tau","SH_2l0tau"
  MCweight: "weight"

Sample: "Sherpa_2l"
  Type: BACKGROUND
  Title: "\gamma\gamma+jets"
  FillColor: 92
  LineColor: 1
  NtupleFiles: "Sherpa_1l1tau","Sherpa_2l0tau","Sherpa_0l2tau"
  MCweight: "1.6*weight"

Sample: "Vyy_2l"
  Type: BACKGROUND
  Title: "V\gamma\gamma"
  FillColor: 62
  LineColor: 1
  NtupleFiles: "Vyy_1l1tau","Vyy_2l0tau","Vyy_0l2tau"
  MCweight: "1.6*weight"

Sample: "Data"
  Type: DATA
  Title: "data"
  TexTitle: "data"
  NtupleFiles: "data_1l1tau","data_2l0tau","data_0l2tau"
 
  % --------------- %
  % - NORMFACTORS - %
  % --------------- %

NormFactor: "mu_XS_hh"
  Title: "#mu (hh)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: signal_2l