ROOT==6.26
alive_progress==3.2.0
awkward==2.3.1
enlighten==1.13.0
h5py==3.12.1
matplotlib==3.5.2
mpltern==1.0.4
numpy==1.22.3
pandas==1.4.2
parallelbar==2.5
ray==2.37.0
scipy==1.8.1
seaborn==0.13.2
sklearn==0.0
torch==2.4.1
torcheval==0.0.7
tqdm==4.67.0
typing==3.7.4.3
typing_extensions==4.12.2
uproot==5.0.10
awkward_pandas==2023.8.0
