% --------------- %
% ---  JOB    --- %
% --------------- %

MultiFit: "HH_yyml_DNN_MC"
  OutputDir: "Output"
  LumiLabel: "139 fb^{-1}"
  CmeLabel: "13 TeV"
  POITitle: "#it{#mu}(#it{hh#rightarrow ML})"
  LimitTitle: "95% CL limit on SigXscOverSM"
  CompareLimits: TRUE
  ComparePOI: TRUE
  ComparePulls: TRUE
  PlotCombCorrMatrix: TRUE
  Combine: TRUE
  Compare: TRUE
  POIName: mu_XS_hh
  DataName: "asimovData"
  POIRange: -200:200
  PlotCombCorrMatrix: TRUE
  ShowTotalOnly: TRUE
  NumCPU: 4
  DebugLevel: 2
  BinnedLikelihoodOptimization: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "yylepjet"
  Directory:  Output/1l0tau/NN/HH_1l0tau_DNN_MC
  ConfigFile: Configs/run2_configs/DNN/MC/1l0tau_run2.config
  Label: "\gamma\gamma + 1\ell 0\tau_h"

Fit: "yytaujet"
  Directory:  Output/0l1tau/NN/HH_0l1tau_DNN_MC
  ConfigFile: Configs/run2_configs/DNN/MC/0l1tau_run2.config
  Label: "\gamma\gamma + 0\ell 1\tau_h"

Fit: "yy2l0tau"
  Directory:  Output/2l0tau/NN/HH_2l0tau_DNN_MC
  ConfigFile: Configs/run2_configs/DNN/MC/2l0tau_run2.config
  Label: "\gamma\gamma + 2\ell 0\tau_h"

Fit: "yy1l1tau"
  Directory:  Output/1l1tau/NN/HH_1l1tau_DNN_MC
  ConfigFile: Configs/run2_configs/DNN/MC/1l1tau_run2.config
  Label: "\gamma\gamma + 1\ell 1\tau_h"

Fit: "yy0l2tau"
  Directory:  Output/0l2tau/NN/HH_0l2tau_DNN_MC
  ConfigFile: Configs/run2_configs/DNN/MC/0l2tau_run2.config
  Label: "\gamma\gamma + 0\ell 2\tau_h"

% Fit: "yyml2L"
  % ConfigFile: HH_2l_BDTG
  % ConfigFile: run2_configs/DNN/2l_run2.config
  % Label: "\gamma\gamma + 2(\ell, \tau_h)"

% --------------- %
% ---  LIMIT  --- %
% --------------- %

Limit: "limit"
LimitType: ASYMPTOTIC
%LimitBlind: TRUE

Significance: "significance"
SignificanceBlind: TRUE
POIAsimov: 1