% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "HH_0l1tau_DNN_MC"
  OutputDir: "Output/0l1tau/NN"
  PlotLabel: none
  Label: "\gamma\gamma 0\ell 1\tau_h"
  CmeLabel: "13 TeV"
  POI: mu_XS_hh
  ReadFrom: NTUP
  NtuplePaths: "Output/Files"
  LumiLabel: "139 fb^{-1}"
  PlotOptions: "LEFT,NOXERR,NOENDERR,YIELDS,NORMSIG"
  NtupleName: "output"
  DebugLevel: 11
  MCstatThreshold: 0.001
  SystPruningShape: 0.01
  SystPruningNorm: 0.005
  CorrelationThreshold: 0.05
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  StatOnly: TRUE
  Selection: m_H>105 && m_H <160

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  FitBlind: TRUE
  UseMinos: "mu_XS_hh"

% --------------- %
% ---  LIMIT  --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  %LimitBlind: TRUE
  %SignalInjection: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "Whole_0l1tau"
  Type: VALIDATION
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  ShortLabel: "m_{yy}"

Region: "CR1_0l1tau"
  Type: CONTROL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  % Label: "NN<-0.37"
  ShortLabel: "m_{yy}"
  Selection: "DNN_signal<0.3 || DNN_CB>=0.1"
  
Region: "SR2_0l1tau"
  Type: SIGNAL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  % Label: "-0.24<NN"
  ShortLabel: "m_{yy}"
  Selection: "DNN_signal>=0.3 && DNN_signal<0.5 && DNN_CB<0.1"

Region: "SR1_0l1tau"
  Type: SIGNAL
  Variable: "m_H",11,105,160
  VariableTitle: "m_{yy}"
  % Label: "-0.37<NN"
  ShortLabel: "m_{yy}"
  Selection: "DNN_signal>=0.5 && DNN_CB<0.1"

Region: "DNN_signal_0l1tau"
  Type: VALIDATION
  Variable: "DNN_signal",11,0,1
  VariableTitle: "DNN signal"
  % LogScale: TRUE

Region: "DNN_SH_0l1tau"
  Type: VALIDATION
  Variable: "DNN_SH",11,0,1
  VariableTitle: "DNN Single Higgs"
  % LogScale: TRUE

Region: "DNN_CB_0l1tau"
  Type: VALIDATION
  Variable: "DNN_CB",11,0,1
  VariableTitle: "DNN Continuum Background"
  % LogScale: TRUE

% --------------- %
% --- SAMPLES --- %
% --------------- %

% Normal samples
%Scaling in samples section is only done in regards to cross section changes due to an increase from 13 TeV to 14 TeV

Sample: "signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 2
  LineColor: 2
  NtupleFiles: "signal_ggF_0l1tau","signal_VBF_0l1tau"
  MCweight: "weight"

Sample: "Single_Higgs"
  Type: BACKGROUND
  Title: "Single Higgs"
  FillColor: 3
  LineColor: 1
  NtupleFile: "SH_0l1tau"
  MCweight: "weight"

Sample: "yy+jets"
  Type: BACKGROUND
  Title: "\gamma\gamma+jets"
  FillColor: 92
  LineColor: 1
  NtupleFiles: "Sherpa_0l1tau"
  MCweight: "1.033*weight"

Sample: "Vyy"
  Type: BACKGROUND
  Title: "V\gamma\gamma"
  FillColor: 62
  LineColor: 1
  NtupleFile: "Vyy_0l1tau"
  MCweight: "1.033*weight"
  
Sample: "Data"
  Type: DATA
  Title: "data"
  TexTitle: "data"
  NtupleFile: "data_0l1tau"

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "mu_XS_hh"
  Title: "#mu (hh)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: signal